/*
 * COLOURS
 * Description: Colour Variables based on Arup colours
 */

$orange: #E94F05;
$pink: #CE2B7A;
$yellow: #F59C00;
$green: #3CB97A;
$blue: #59ADD8;
$purple: #7870C3;
$white: #FEFEFE;
$black: #131413;
$black80: #4D4D4C;
$black60: #808180;
$black20: #D8D8D8;
